:root {
    /* --accent: #FF6182; */
    --white: #F5F5F5;
    --nav-background: #2E3137;

    --black-background: #1F2225;
    --light-background: #40444B;
    --grey-background:#36393E;

    --grey-text:#72767D;
    --text-white: #FFFFFF;
    --grey-outline: #717171;
    --shadow: #00000029;
    --accent: #3B67F2;
}

