
.disclaimer {
  font-size:5rem;
  color: var(--white);
}
.name {
  color:var(--accent);
  border-bottom:5px solid var(--accent);
}

.data {
  justify-items: center;
  margin-top:100px;
  justify-self:center;
}
.data-title{
  font-size:2rem;
  color: var(--white);
  margin-bottom:30px;
}
.data-list{
  height:400px;
  font-size:1.5rem;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.btn {
  transition: background 400ms;
  color: #fff;
  background-color: #6200ee;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #6100aa;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #080C24;
}

input:focus {
  outline: none;
}

label {
  color: gray;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 15px;
  color: #FF6182;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before, .bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #FF6182;
  transition:0.2s ease all; 
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}


@media (max-width:1024px) {
  .content{
    grid-template-columns: 1fr;
    gap:50px;
    width:95%;
    padding:30px;
  }
  .data {
    margin-top:0;
  }
  .disclaimer {
    font-size:3rem;
  }
  html {
      font-size:10px;
  }
}
