.containerA1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding:50px;
}


.containerA2_text{
	display: flex;
	flex-direction: column;
	gap:50px;
	height: 90%;
	filter: opacity(0.9);
	border-radius: 25px;

	padding: 30px;
	/*glass effect*/
	background: rgba(255,255,255,0.075);
	backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 10px );
}

.landing-header {
	height:30%;
	display:flex;
	flex-direction: column;
	gap:10px;
	color:var(--white);
	width:100%;
	text-align: center;
	padding-top:40px;
}

.title {
	font-size:3rem;
	font-weight:600;
	color:var(--white);
}
.accent {
	color: var(--accent)
}

.par1{
	color: var(--cor-de-fundo-divs); 
	font-size:1.5rem;
	font-weight:500;
}

.par2{
	color: var(--cor-de-fundo-divs); 
	font-size:1.7rem;
	line-height:2rem;	
	padding:0 5%;
}

.landing-footer-btn{
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	padding:30px;
}

.entrar-btn {
	color: var(--accent); 
	cursor: pointer;

	font-weight: bold;
	font-size: 1.25rem;

	border: 2px solid var(--accent);
    padding: 1rem;
    border-radius: 8px;
	transition: .3s ease all;
}

.entrar-btn:hover{
	box-shadow: 0px 0px 10px 1px var(--accent);
}	

.containerA2_img{
	display:flex;
	justify-content: center;
	align-items: center;
	gap:50px;
	flex-direction: column;
}

img {
	width:70%;
}
@media (max-width: 1024px) {
	.landing-header{
		padding-top:0;
	}
	html{
		font-size:12px;
	}
	.containerA1 {
		padding:20px;
		grid-template-columns: 1fr;
		gap:30px;
	}
	.containerA2_text{
		padding:50px 20px;
	}
	.containerA2_img img{
		display: none;
	}
	.entrar-btn{
		padding:30px;
	}
}
@media (max-width: 480px) {
	html{
		font-size:10px;
	}
	.containerA2_text{
		height:100%;
	}
	
}