body {
	background-color: var(--cor-de-fundo-geral);

	font-size: 16px;
}

.containerB1{
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;
}

.div-registro {
	background-color: var(--cor-de-fundo-divs);
	box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.15);
	
	width: 90%;

	max-width: 600px;

	border-radius: 10px;
	margin: auto; 	

	padding: 0.8rem;

	/*glass effect*/
	background: rgba(255,255,255,0.7);
	backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 10px );


}


.label-registro {
	padding: 2rem;
	margin-bottom: 3rem;
	color: var(--cor-das-labels);
	font-size: 25px;
	font-weight: bold;
	text-align: center;	

}
#err {
	padding-bottom:40px;
}
.field, .btn-enviar {
	background: var(--cor-de-texto-bg);

	color: var(--cor-de-texto);
	text-align: center;
	
	filter: brightness(0%);

	
	padding: 0.8rem;
	border-radius: 10px;
	
	margin-top:1rem;

	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.05);
}

.user:focus, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.btn-enviar {
	cursor: pointer;

	color: var(--cor-de-fundo-divs); 
	font-weight: bold;
	filter: brightness(80%);
	margin: 0 auto;
	width:100%;
	border-radius: 10px;

	margin-top: 3rem;
	transition: .3s ease all;
	background: linear-gradient(to bottom right, var(--cor-de-degrade-init), var(--cor-de-degrade-end));
}

.btn-enviar:hover{
	filter: brightness(150%);
}
.group-select{ 
	display:flex;
	align-items: center;
	gap:10px;
	margin-bottom: 3rem;

}
.group-select p {
	font-size:1.4rem;
	font-weight: 700;
	color: var(--cor-das-labels)
}
.group-select select {
	width:200px;
	height:40px;
	font-size:1.2rem;
	border-radius: 10px;
	border:none;
}

.group {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
	align-items: center;
	flex-direction: column;
  }
  
  .btn {
	transition: background 400ms;
	color: #fff;
	background-color: #6200ee;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
  }
  .btn:hover {
	background-color: #6100aa;
  }
  
  input {
	font-size: 18px;
	padding: 0.8rem;
	display: block;
	width: 300px;
	border: none;
	border-bottom: 1px solid #080C24;
  }
  
  input:focus {
	outline: none;
  }
  
  label {
	color: gray;
	font-size: 18px;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
  }
  
  input:focus ~ label, input:valid ~ label {
	top: -20px;
	font-size: 15px;
	color: #FF6182;
  }
  
  .bar {
	position: relative;
	display: block;
	width: 300px;
  }
  
  .bar:before, .bar:after {
	content: '';
	height: 3px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #FF6182;
	transition:0.2s ease all; 
  }
  
  .bar:before {
	left: 50%;
  }
  
  .bar:after {
	right: 50%;
  }
  
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}
  
.form-data {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

  @media (max-width: 480px) {
	html {
		font-size: 10px;
	}

	.containerB1 {
		min-width: 400px;
		width: 90%;
		margin: 0 auto;
	}
}

.none {
	display:none;
}